#header {
border-radius:12px;
-webkit-border-radius:12px;
;
;
}
.footer {
test;
border-radius:12px;
-webkit-border-radius:12px;
;
;
}
#content {
background-color: blue;
;
}
#test-inherit {
test;
font-size: 12px;
;
}