#header {
border-radius:12px;
-webkit-border-radius:12px;
;
;
}

.header {
font-style:italic;
;
}

.footer {
;
border-radius:12px;
-webkit-border-radius:12px;
;
;
}

#content {
background-color:blue;
;
}

#test-inherit {
;
font-size:12px;
}
