#header {
border-radius:12px;
-webkit-border-radius:12px;
;
;
}

.header {
font-style:italic;
;
}

.footer {
@inherit<id>(header);
border-radius:12px;
-webkit-border-radius:12px;
;
;
}

#content {
background-color:blue;
;
}

#test-inherit {
@inherit<class>(footer);
font-size:12px;
}
