#header {
border-radius:12px;
-webkit-border-radius:12px;
;
;
}

.header {
font-style:italic;
;
}

.footer {
@use<id>(header);
border-radius:12px;
-webkit-border-radius:12px;
;
;
}

#content {
background-color:blue;
;
}

#test-inherit {
@use<class>(footer);
font-size:12px;
}
